{
  "extends": ["taro"],
  "globals": {
    "wx": true
  },
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".tsx"] }
    ]
  },
  "parser": "babel-eslint"
}
